body {
    background-color: aqua;
}

#gifContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.gif {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}