html {
    display: flex;
}

.playerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}

.playerForm label {
  padding: 5px;
}

.playerForm input {
  margin-left: 10px;
}

.playerForm #submit {
  align-self: center;
  width: 100%;
  margin-top: 10px;
}

.playerForm h2 {
  align-self: center;
  margin: 0px 0px 10px 0px;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scoreBoard {
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
}