@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html {
    font-family: 'Bebas Neue', cursive;
    background-color: rgba(24, 107, 24, 0.541);
}

body {
    margin: 0;
    padding: 0;
}

#title {
    background-color: bisque;
    font-size: 100px;
    margin: 0;
    padding-left: 20px;
    display: block;
}

.playerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 260px;
  height: 260px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  background-color: bisque;
}

.playerForm label {
  padding: 5px;
}

.playerForm input {
  margin-left: 10px;
}

.playerForm #submit {
  align-self: center;
  width: 100%;
  margin-top: 10px;
}

.playerForm h2 {
  align-self: center;
  margin: 0px 0px 10px 0px;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scoreBoard {
    width: 224px;
    height: 224px;
    display: inline-block;
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
    justify-content: center;
    border-radius: 10px;
    background-color: bisque;
}

#gifContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: bisque;
}

.gif {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

#selection {
    width: 260px;
    height: 260px;
    border: 2px dashed black;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

#topBand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}